<footer class="footer">
  <nav class="footer-first-nav">
    
      <ul class="footer-list">
        <li><h3 class="footer-title">Tienda</h3></li>
        <li>Productos</li>
        <li>Cajoneras</li>
        <li>Para toda la casa</li>
        <li>Habitaciones</li>
      </ul>
    </nav>
  
    <nav class="footer-second-nav">
      
      <ul class="footer-list">
        <li><h3 class="footer-title">Nosotros</h3></li>
        <li>Nuestra guía</li>
        <li>Nuestro diseño</li>
        <li>Nuestra historia</li>
        <li>Ayuda</li>
      </ul>
    </nav>
  
    <nav class="footer-third-nav">
      
      <ul class="footer-list">
        <li><h3 class="footer-title">Contacto</h3></li>
        <li>ayuda@openspaces.com</li>
        <li>Socios</li>
        <ul>
          <li class="footer-icons"><i class="fa-brands fa-linkedin-in fa-xl"></i></li>
          <li class="footer-icons"><i class="fa-brands fa-instagram fa-xl"></i></li>
          <li class="footer-icons"><i class="fa-brands fa-twitter fa-xl"></i></li>
        </ul>
      </ul>
    </nav>
    <a class="arrow" href="#main"><i class="fa-solid fa-arrow-up"></i></a>
</footer>