<nav>
    <ul>
        <li>Tienda</li>
        <li>Productos</li>
        <li>Cajoneras</li>
        <li>Para toda la casa</li>
        <li>Habitaciones</li>
    </ul>
  </nav>

  <nav>
    <ul>
        <li>Nosotros</li>
        <li>Nuestra guía</li>
        <li>Nuestro diseño</li>
        <li>Nuestra historia</li>
        <li>Ayuda</li>
    </ul>
  </nav> 

  <nav>
    <ul>
        <li>Contacto</li>
        <li>ayuda@openspaces.com</li>
        <li>Socios</li>
        <li>Iconos redes sociales</li>
    </ul>
  </nav>
  <i class="fa-solid fa-arrow-up"></i>