<footer class="footer">
  <nav class="footer-first-nav">
    <h3 class="footer-title">Tienda</h3>
      <ul class="footer-list">
        <li>Productos</li>
        <li>Cajoneras</li>
        <li>Para toda la casa</li>
        <li>Habitaciones</li>
      </ul>
    </nav>
  
    <nav class="footer-second-nav">
      <h3 class="footer-title">Nosotros</h3>
      <ul class="footer-list">
        <li>Nuestra guía</li>
        <li>Nuestro diseño</li>
        <li>Nuestra historia</li>
        <li>Ayuda</li>
      </ul>
    </nav>
  
    <nav class="footer-third-nav">
      <h3 class="footer-title">Contacto</h3>
      <ul class="footer-list">
        <li>ayuda@openspaces.com</li>
        <li>Socios</li>
        <ul>
          <li class="footer-icons"><i class="fa-brands fa-linkedin-in"></i></li>
          <li class="footer-icons"><i class="fa-brands fa-instagram"></i></li>
          <li class="footer-icons"><i class="fa-brands fa-twitter"></i></li>
        </ul>
      </ul>
    </nav>
    <a class="arrow" href="·main"><i class="fa-solid fa-arrow-up"></i></a>
</footer>