<header class="header">
    <i id="menu-burger" class="fa-solid fa-bars fa-xl"></i>
    
    <nav class="header__nav">
        
        <ul class="header__nav--desktop">
          <li>Productos</li>
          <li>Colecciones</li>
          <li>Tienda</li>
          <li>Inicio</li>
        </ul>
        <img class="logo" src="./assets/images/logo.png" alt="Logo de Open Spaces">
    </nav>
    <section class="section-hero">
      <h1 class="title">Disfruta creando espacios</h1>
      <a class="buy-button__top" href="">Comprar ahora</a>
    </section>
   
    
  </header>