<main id="main">
    
      <section class="section-first">
        <h2 class="small-title">Volverse organizado se siente mejor con <span>open spaces</span></h2>
        <include src="./organize.html" icono="./assets/images/icon_1.png" title="Lo que necesitas" text="Una línea de productos diseñados para todos tus espacios"></include>
        <include src="./organize.html" icono="./assets/images/icon_2.png" title="Materias primas sustentables" text="Todos los productos con materias primas sustentables"></include>
        <include src="./organize.html" icono="./assets/images/icon_3.png" title="Guía" text="Soporte y asesoramiento para ayudarte con tu objetivo"></include>
      </section>

      <section class="section-second">
        <img class="icon-ship" src="./assets/images/icon_4.png" alt="Icono de Envío gratis garantizado">
          <h2 class="title-ship">Envío gratis garantizado</h2>
          <p class="text-ship">Envío gratis en compras desde 100</p>
        <a class="buy-now" href="">Comprar ahora</a>
      </section>

      <section class="third-container">
        <div class="section-third">
          <div class="third-text-div">
            <h3 class="third-title">Disfruta creando espacios</h3>
            <p class="third-text">Una línea de productos diseñados para todos tus espacios</p>
          </div>
          <a class="buy-button" href="">Comprar ahora</a>
        </div>
        <div class="div-img">
        </div>
      </section>  
        
      
</main>