<main id="main">
    <section class="section-hero">
      <div class="hero-text">
        <h1 class="title">Disfruta creando espacios</h1>
        <a class="buy-button" href="">Comprar ahora</a>
      </div>
      </section>
    
      <section class="section-first">
        <h2 class="small-title">Volverse organizado se siente mejor con <span>open spaces</span></h2>
        <include src="./organize.html" icono="./assets/images/icon_1.png" title="Lo que necesitas" text="Una línea de productos diseñados para todos tus espacios"></include>
        <include src="./organize.html" icono="./assets/images/icon_2.png" title="Materias primas sustentables" text="Todos los productos con materias primas sustentables"></include>
        <include src="./organize.html" icono="./assets/images/icon_3.png" title="Guía" text="Soporte y asesoramiento para ayudarte con tu objetivo"></include>
      </section>

      <section class="section-second">
        <img class="icon-ship" src="./assets/images/icon_4.png" alt="Icono de Envío gratis garantizado">
        <div class="text-div">
          <h3>Envío gratis garantizado</h3>
          <p>Envío gratis en compras desde 100</p>
        </div>
        <a class="buy-now" href="">Comprar ahora</a>
      </section>

      <section class="section-third">
        <div class="text-div">
          <h3>Disfruta creando espacios</h3>
          <p>Una línea de productos diseñados para todos tus espacios</p>
        </div>
        <a class="buy-button" href="">Comprar ahora</a>
      </section>  


      <section class="div-img">
      </section>
      
        
      
</main>