.footer{
    width: 100vw;
    background-color: $colorDark;
    color: $colorBlue;
    height: 50vh;
    @media all and (min-width: 900px){
        height: 40vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 10%;
        
    }
}

.footer-title{
    padding-bottom: 12px;
    @media all and (min-width: 900px){
        font-size: 24px;
        font-weight: 600;
    }
}

.footer-first-nav{
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media all and (min-width: 900px){
        width: 210px;
        padding: 71px 10px 74px 118px;

    }
}

.footer-second-nav{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    @media all and (min-width: 900px){
        width: 210px;
        padding: 71px 10px 74px 10px;
        transform: translateY(-10px);
    }
}

.footer-third-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media all and (min-width: 900px){
        width: 210px;
        padding: 71px 118px 74px 10px;
        transform: translateY(-15px);
    }

}

.footer-list{
    display: flex;
    flex-direction: column;
    width: 150px;
    padding-bottom: 20px;
    text-align: left;

}

.footer-icons{
    width: 30px;
    height: 30px;   
    display: inline-block;
    @media all and (min-width: 900px){
        padding-top: 15px;
    }
}

.arrow{
    color: $colorGray;
    position: fixed;
    right: 10%;
    bottom: 2%;
    @media all and (min-width: 900px){
        right: 15%;
        bottom: 10%
    }

}
.fa-solid .fa-arrow-up{
    width: 24px;
}