.header{
  margin-top: 19px;
  width: 100vw;
  display: flex;
  justify-content: center;
  position: fixed;
  &__nav{
    justify-content: flex-start;
    &--desktop{
      display: none;
    }
  }  
}
