.header{
  width: 100%;
  height: 100vh;
  background-image: url(../images/header.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

#menu-burger{
  width: 24px;
  position: fixed;
  margin-top: 55px;
  margin-left: 40px;
  padding: 5px;
  @media all and (min-width: 1728px){
    display: none;
  }
}

.logo{
  width: 213px;
  height: 101px;

}

.header__nav{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 19px;
  @media all and (min-width: 900px){
  margin-top: 39px;
  }

}

.header__nav--desktop{
  display: none;
  @media all and (min-width: 1728px){
    color: $colorDark;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 30px;

  }
  

}
.section-hero{
  display: flex;
  flex-direction: column;
  margin-top: 350px;
  align-items: center;
  gap: 62px ;
  @media all and (min-width: 900px){
    background-position: right;
    gap: 12px;
    align-items: flex-start;

  }
  @media all and (min-width: 1728px){
    background-position: center;
  }
}

.title{
  color: $colorDark;
  font-size: 24px;
  font-weight: 600;
  @media all and (min-width: 900px){
    font-size: 36px;
    width: 430px;
    height: 112px;
    margin-left: 147px;
  }
  @media all and (min-width: 1728px){
    margin-left: 280px;
  }
}