.section-hero{
  height: 100vh;
  background-image: url(../images/header.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 62px ;
  @media all and (min-width: 900px){
    background-position: right;
    gap: 12px;
    align-items: flex-start;

  }
  @media all and (min-width: 1300px){
    background-position: center;
  }
}

.title{
  color: $colorDark;
  font-size: 24px;
  font-weight: 600;
  @media all and (min-width: 900px){
    font-size: 36px;
    width: 430px;
    height: 112px;
    margin-left: 147px;
  }
  @media all and (min-width: 1200px){
    margin-left: 280px;
  }
}

.small-title{
  margin: 41px 47px 27px 47px;
  text-align: center;
  @media all and (min-width: 900px){
    margin: 41px 196px 10px 169px;
    grid-column: span 3;
  }
}
span{
  text-transform: uppercase;
}

.section-first{
  background-color: $colorGray;
  color: $colorDark;
  width: 100vw;
  display: grid;
  text-align: center;
  @media all and (min-width: 900px){
    height: 55vh;
    grid-template-columns: 33% 34% 33%;
  }
}

.section-second {
  background-color: $colorOrange;
  color: $colorGray;
  text-align: center;
  height: 40vh;
}

.icon-ship{
  padding: 45px 152px 10px 142px;
}

.fourth-container{
  display: grid;
  @media all and (min-width: 1200px){
    grid-template-columns: 50% 50%;
  }
}

.section-third{
  background-color: $colorGray;
  color: $colorDark;
  text-align: center;
  height: 40vh;
  padding: 87px 27px 140px 27px;
  @media all and (min-width: 1200px){
    height: 50vh;
  }
  }

.text-div{
  padding: 10px 103px 36px 103px;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
.third-text-div{
  padding: 10px 103px 36px 103px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media all and (min-width: 1200px){
    text-align: left;
    align-items: baseline;
      
  }
}

.div-img{
  width: 100%;
  height: 40vh;
  background-image: url(../images/creando-espacios.jpg);
  background-size: cover;
  @media all and (min-width: 900px){
    height: 50vh;
    background-position: center;
  }
}


.icon{
  width: 90px;
  height: 90px;
  align-items: center;
  text-align: center;

}



